@import "../../../../styles/media.css";

.container {
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;

  height: 100%;
  max-height: 60px;

  cursor: pointer;

  svg {
    aspect-ratio: 1 / 1;
    padding: 10cqh;

    @media (--tablet) {
      padding: 0;
      height: 100%;
    }
  }

  & :hover {
    border-radius: 6px;
    background: var(--primary-bg-hov);
  }
}