.input {

    display: flex;
    flex: 1;

    background: transparent;
    border-radius: 5px;
    outline: none;

    border: 2px solid var(--text);
    color: var(--text);
    padding: 4px;

    height: 2rem;


    &:focus {
        border-color: var(--primary-bg);
    }

    &[data-state="error"] {
        border-color: var(--alert-dg-bg);
    }
}