[data-theme="dark"][data-color="yellow"] {
  --primary-txt: oklch(1 0.1 90);
  --primary-bg: oklch(0.4 0.1 90);
  --primary-bg-hov: oklch(0.5 0.1 90);
  --primary-bg-act: oklch(0.6 0.1 90);

  --secondary-txt: oklch(1 0.1 270);
  --secondary-bg: oklch(0.4 0.1 270);
  --secondary-bg-hov: oklch(0.5 0.1 270);
  --secondary-bg-act: oklch(0.6 0.1 270);

  --tertiary-txt: oklch(1 0.1 0);
  --tertiary-bg: oklch(0.4 0.1 0);
  --tertiary-bg-hov: oklch(0.5 0.1 0);
  --tertiary-bg-act: oklch(0.6 0.1 0);

  --extra-txt: oklch(1 0.1 180);
  --extra-bg: oklch(0.4 0.1 180);
  --extra-bg-hov: oklch(0.5 0.1 180);
  --extra-bg-act: oklch(0.6 0.1 180);
}

[data-theme="light"][data-color="yellow"] {
  --primary-txt: oklch(0.1 0.1 90);
  --primary-bg: oklch(0.55 0.1 90);
  --primary-bg-hov: oklch(0.65 0.1 90);
  --primary-bg-act: oklch(0.75 0.1 90);

  --secondary-txt: oklch(0.1 0.1 270);
  --secondary-bg: oklch(0.55 0.1 270);
  --secondary-bg-hov: oklch(0.65 0.1 270);
  --secondary-bg-act: oklch(0.75 0.1 270);

  --tertiary-txt: oklch(0.1 0.1 0);
  --tertiary-bg: oklch(0.55 0.1 0);
  --tertiary-bg-hov: oklch(0.65 0.1 0);
  --tertiary-bg-act: oklch(0.75 0.1 0);

  --extra-txt: oklch(0.1 0.1 180);
  --extra-bg: oklch(0.55 0.1 180);
  --extra-bg-hov: oklch(0.65 0.1 180);
  --extra-bg-act: oklch(0.75 0.1 180);
}
